.main-import {
  width: 90%;
  height: 100%;
  margin-left: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
}
.main-import .back-to-import{
  position: fixed;
  top: 15px;
  left: 137px;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-import .back-to-import span{
  font-family: 'Righteous', cursive;
  height: 40px;
  line-height: 40px;
  width: 80px;
  border-radius: 7px;
  font-size: 15px;
  background-color: #FF1E1E;
  color: white;
  transition: .4s;
  cursor: pointer;
  text-align: center;
}
.main-import .back-to-import span:hover{
  background-color: #e1981a;
}
.main-import .title{
  width: 100%;
  text-align: center;
}
.main-import  .message-container{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration:overline;
  text-decoration-color: red;
}


.main-import .nav{
  height: 50px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main-import .nav input{
  height: 45px;
  width: 15%;
  border: 3px solid #3d3d3d;
  padding:7px;
  border-radius: 10px;
  background-color: rgba(16,16,16,.4);
  color: white;
  font-size: 15px;
  font-family: 'Righteous', cursive;
  transition: .2s;
  outline: unset;
}
.main-import .nav input:hover,.main-import .nav input:focus{
  border: 3px solid #FF1E1E;
}
.main-import .import-container-outside{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.main-import .import-container-outside .import-containers{
  border: 2px solid white;
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 80px;
}

.main-import .import-container-outside .import-containers .infor{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  font-weight: bold;
  background-color: #f84747;
}

.main-import .import-container-outside .import-containers .infor .id span,
.main-import .import-container-outside .import-containers .infor .Account span,
.main-import .import-container-outside .import-containers .infor .Date span{
  margin: 20px;

}

.main-import .import-container-outside .import-containers .list-game-imported {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: auto;
  border-bottom: 2px solid white;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}
.main-import .import-container-outside .import-containers .list-game-imported::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.main-import .import-container-outside .import-containers .list-game-imported .game-imported-header{
  width: 100%;
  height: 30px;
  position: sticky;
  top:0;
  background-color: #3d3d3d;
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
  border: 1px solid white;

}

.main-import .import-container-outside .import-containers .list-game-imported .game-imported{
  height: 50px;
  width: 100%;
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid white;
  border-radius: 25px;
}
.main-import .import-container-outside .import-containers .list-game-imported .game-imported:last-child{
  border: none;
}
.main-import .import-container-outside .import-containers .price-view{
  background-color: #FF1E1E;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.main-import .pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-import .pagination {
  width: 100%;
  display: flex;
  max-width: 185px;
  width: 100%;
  height: 65px;
  overflow-y: auto;
  cursor: auto;
}

.main-import .pagination input {
  height: 40px;
  font-size: 18px;
  color: white;
  float: left;
  padding: 8px 16px;
  margin: 0 10px;
  background: unset;
  border: unset;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.main-import .pagination input.active {
  background-color: #ff1e1e;
  color: white;
  border-radius: 5px;
}

.main-import .pagination input:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

/* width */
.main-import .pagination::-webkit-scrollbar {
  width: 20px;
  height: 10px;
  cursor: auto;
}

/* Track */
.main-import .pagination::-webkit-scrollbar-track {
  background: #888;
  cursor: auto;
}

/* Handle */
.main-import .pagination::-webkit-scrollbar-thumb {
  background: #ff1e1e;
  cursor: auto;
}

@media screen and (max-width: 750px) {
  .main-import .pagination {
    bottom: 10px;
    padding: 5px 0;
    font-size: 16px;
  }

  .main-import .pagination a {
    margin: 0 5px;
  }
  /* width */
  .main-import .pagination::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
}
