@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* NAVIGATION BAR */
body {
    height: 100%;
    width: 100%;
    font-family: 'Righteous', cursive;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    background-color: #272727;
}
.sidebar{
    font-family: 'Righteous', cursive;
    width: 120px;
    height: 100%;
    background-color: #101010;
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: width 0.5s;
    position: fixed;
    left:0;
    z-index: 2;
}
.sidebar.open {
    width: 360px;
}

.sidebar .logo {
    width: 100%;
    height: 200px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sidebar .logo img {
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.sidebar.open .logo img {
    width: 130px;
    height: 130px;
    padding: 10px;
    transition: .4s;
}

.sidebar .logo-text .text1{
    color:#FF1E1E;
    font-size: 20px;
    margin-top: 12px;
    position: relative;
    top:12px;
    font-variant: small-caps;
    text-shadow: 1.5px 1.5px white;
    pointer-events: none;
    scale: 0;
    opacity: 0;
}
.sidebar .logo-text .text2 {
    font-size: 45px;
    text-align: center;
    top: 20px;
    left: 50px;
    color: #FF1E1E;
    text-shadow: 1.5px 1.5px white;
    scale: 0;
    opacity: 0;
}
.sidebar.open .logo-text .text1,.sidebar.open .logo-text .text2 {
    scale: 1;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}


.sidebar .nav-title {
    color: white;
    font-size: 16px;
    margin: 30px 0 18px;
    pointer-events: none;
    opacity: 0;
}

.sidebar.open .nav-title{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
.sidebar nav,.sidebar.open nav{
    padding: 0 30px; 
    height: 70%;
    overflow: scroll;
    overflow-x: hidden; 
}
.sidebar.open nav::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #FF1E1E;
}
.sidebar nav::-webkit-scrollbar-thumb {
    background-color: #101010;
}
.sidebar nav::-webkit-scrollbar,.sidebar.open nav::-webkit-scrollbar {
    width: 10px;
}
.sidebar.open nav::-webkit-scrollbar-track {
    padding: 2px 0;
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    background-color: rgba(16,16,16,.4);
    border-radius: 10px;
}

.sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    color: white;
    margin-top: 8px;
    transition: .3s;
}

.nav-item.active {
    background: #FF1E1E;
}
.sidebar nav .nav-item:hover {
    background: #FF1E1E;
}

.sidebar nav .nav-item i {
    font-size: 25px;
}
.sidebar nav .nav-item span {
    font-size: 18px;
    margin-left: 8px;
    pointer-events: none;
    opacity: 0;
}
.sidebar.open nav .nav-item span {
    pointer-events: visible;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar hr{
    width: 100%;
    border-radius: 3px;
    margin: 10px 0;
    color: white;
}
.sidebar.open hr {
    opacity: 1;
    transition: .4s;
}


@media screen and (max-width: 991px) {
    .sidebar{
        display: none;
    }
}