.address-form.raw:not(.registered) label:last-of-type {
    /* margin: 8px; */
    width: 100%;
    
}

.form-control{
    border-radius: 8px;
    position: relative;
    display: flex;
    height: 58px;
    transition: .2s;
    box-shadow: inset 0 0 0 2px var(--color-medium);
    background-color: rgba(16,16,16,.4);
}
.country_container{
    overflow: hidden;

}
.country_container::after{

}
.country_container select{
    /* width: 100%;
    color: #fff; */
    -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 15px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  color: #fff;
  width: 100%;
}
.country_container select option{
    background-color: black;
}

.main-content input,main-content input:not(.blank):not([type=checkbox]):not(.button),main-content select:not(.blank),main-content textarea:not(.blank) {
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    outline: none;
    font-family: proximanova,arial,sans-serif;
    width: 100%;
    border: 0;
    height: 58px;
    transition: .2s;
    box-shadow: inset 0 0 0 2px var(--color-medium);
    background-color: rgba(16,16,16,.4);
    -webkit-appearance: none;
}

body {
    --color: #ff5400;
    --color-link-hover: #ffa700;
    --color-very-light: #b7b7b7;
    --color-light: #999;
    --color-medium-light: #6d6d6d;
    --color-medium: #3d3d3d;
    --color-medium-dark: #323232;
    --color-dark: #272727;
    --color-very-dark: #1d1d1d;
    --color-ultra-dark: #101010;
}

.address-form.raw:not(.registered) {
    /* margin: -15px; */
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 15px;
}
.payment-container .payment-app .payment-form .platforms .billing-address-container {
    display: flex;
    flex-direction: column;
}
.payment-container .payment-app .payment-form .platforms {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.platforms {
    display: flex;
}
.payment-container .payment-app .payment-form {
    display: flex;
    position: relative;
    align-items: flex-start;
}
@media screen and (max-width: 560px) {
    .payment-container .payment-app .payment-form {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
    }
}
.payment-container .payment-app {
    width: 100%;
}

.main-content h2 {
    font-size: 23px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
}
.payment-container .payment-app .payment-form .panel .pay-button {
    border-radius: 12px;
}

.payment-container .payment-app .payment-form .panel .pay-button {
    border-radius: 15px;
    padding: 30px;
    background-color: var(--color-medium-dark);
    position: sticky;
    bottom: 15px;
    margin-top: 30px;
    /* box-shadow: 0 30px 0 0 var(--color-dark),0 0 30px 15px var(--color-dark); */
}
@media screen and (max-width: 1000px){
    .payment-container .payment-app .payment-form .panel {
    margin-left: 20px;
}
}

@media screen and (max-width: 1260px){
    .payment-container .payment-app .payment-form .panel {
    margin-left: 30px;
    top: 115px;
}
}

.payment-container .payment-app .payment-form .panel {
    margin-left: 60px;
    flex: 0 1 33%;
    position: sticky;
    top: 115px;
}
.payment-container .payment-app .payment-form .panel .pay-button .summary-row {
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: flex-end;
}
.payment-container .payment-app .payment-form .panel .pay-button .summary-row.total {
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
.payment-container .payment-app .payment-form .panel .pay-button .button {
    margin-bottom: 30px;
    width: 100%;
}
.payment-container .payment-app .payment-form .panel .pay-button .button:hover {
    background-color: #ffa700;
}
@media screen and (max-width: 1000px) and (max-width: 1000px){
    .main-content button {
    font-size: 15px;
}
.main-content button {
    font-size: 15px;
    height: 46px;
    padding: 0 20px;
}
.main-content button {
    border-radius: 7px;
}

}


.main-content button {
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    background-color: var(--color);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    box-sizing: border-box;
    padding: 0 30px;
    transition: .2s;
    border: 0;
    cursor: pointer;
    text-align: center;
    white-space: normal;
    -webkit-appearance: none;
}
.payment-container .payment-app .payment-form .panel .cgu-container a {
    text-decoration: underline;
    color: var(--color-medium-light);
}
.payment-container .payment-app .payment-form .panel .cgu-container {
    font-size: 13px;
    display: block;
    color: var(--color-light);
    text-align: center;
    line-height: 20px;
    position: relative;
    z-index: 1;
    margin: 30px auto;
    padding: 0 30px;
}

@media screen and (max-width: 1000px){
    .payment-platform-label:not(.selected) {
    height: 90px;
}
.payment-platform-label {
    padding: 15px;
}
.payment-platform-label {
    border-radius: 12px;
}
.payment-platform-label .logo-container {
    border-radius: 7px;
    margin-right: 15px;
}
}


.payment-platform-label:not(.selected) {
    height: 120px;
    cursor: pointer;
}
.payment-platform-label {
    border-radius: 15px;
    padding: 30px;
    display: flex;
    position: relative;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right 0 center;
    margin-bottom: 20px;
    transition: .2s;
    background-color: var(--color-medium-dark);
}
.payment-platform-label .payment-platform-method {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.payment-platform-label .payment-platform-radio-button {
    display: flex;
    align-items: center;
}
.payment-platform-label .payment-platform-radio-button input {
    display: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


.payment-platform-label .logo-container {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #fff;
    height: 60px;
    width: 94px;
    flex: 0 0 94px;
    margin-right: 30px;
}
.payment-platform-label .logo-container .logo {
    width: 100%;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.payment-platform-label.imaginary .logo {
    background-size: 70px;
    background-image: url(../img/imaginary_card.png);
}
.payment-platform-label .name-container {
    overflow: hidden;
}
.payment-platform-label .name {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.payment-platform-label .name .fees {
    font-size: 13px;
    margin-left: 7.5px;
    color: var(--color-light);
    opacity: .7;
}
.payment-platform-label.selected {
    box-shadow: inset 0 0 0 2px var(--color);
}

.payment-platform-label.pay_by_link .logo {
    background-size: 70px;
    background-image: url(../img/icon-paybylink.svg);
}