/* glass card use for sign in */
.glass-card {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.products-trending {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-weight: 600;
  max-width: 1200px;
  width: 100%;
  color: white;
}

.products-trending .headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 20px;
}

.products-trending .headline a {
  color: black;
  height: 40px;
  padding: 0 10px;
  transition: all 0.22s ease;
}

.products-trending .headline a:hover {
  background: #ff1e1e;
  color: white;
}

:is(.products-list-filter, .products-list) {
  min-height: 220px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

:is(.products-list-filter, .products-list) .item {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: flex;
  position: relative;
  min-width: 0;
  flex-direction: column;
}

:is(.products-list-filter, .products-list) .item a {
  display: flex;
  position: relative;
  padding-top: 50%;
}

:is(.products-list-filter, .products-list) .item img,
:is(.products-list-filter, .products-list) .item video {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  top: 0;
  transition: all 0.2s ease-in-out;
}
:is(.products-list-filter, .products-list) .item video {
  display: none;
  z-index: 1;
}

:is(.products-list-filter, .products-list) .item img:hover,
:is(.products-list-filter, .products-list) .item video:hover {
  scale: 1.05;
}

:is(.products-list-filter, .products-list) .item .product-information {
  display: flex;
  margin-top: 5px;
  min-height: 26px;
  align-items: center;
}

.product-information .text-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 520;
  flex: 1;
}

.product-information .price {
  margin-left: auto;
  font-size: 22px;
}

.products-list-filter .message-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list-filter .message-container .message {
  font-size: 30px;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .products-list .item {
    width: calc(50% - 10px);
    margin: 5px;
  }

  .products-list .item img:hover {
    scale: 1;
    box-shadow: 0 10px 15px 2px rgba(231, 76, 60, 0.5);
  }
}

@media screen and (max-width: 500px) {
  .products-list {
    flex-wrap: nowrap;
    overflow: auto;
  }
  /* width */
  .products-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  .products-list::-webkit-scrollbar-track {
    background: #888;
  }

  /* Handle */
  .products-list::-webkit-scrollbar-thumb {
    background: #ff1e1e;
  }

  /* Handle on hover */
  /* .products-list::-webkit-scrollbar-thumb:hover {
    background: #ff1e1e;
  } */


  .products-list .item {
    flex: 0 0 85%;
    margin: 5px;
  }

  .products-list .item img:hover {
    scale: 1;
    box-shadow: 0 10px 15px 2px rgba(231, 76, 60, 0.5);
  }
}

@media screen and (max-width: 1000px) {
}
