.parallax {
}

.box-image-zoom-in {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .85);
  z-index: 1001;
}

.box-image-zoom-in > i,
.box-image-zoom-in .icon-chevron {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.box-image-zoom-in i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;

}

.box-image-zoom-in > i:hover,
.box-image-zoom-in .icon-chevron:hover {
  border-radius: 50%;
  background: rgba(173, 167, 167, 0.85);
}

.box-image-zoom-in .fa-xmark {
  right: 5%;
  top: 5%;
}

.box-image-zoom-in .icon-chevron-right {
  right: 5%;
}

.box-image-zoom-in .icon-chevron-left {
  left: 5%;
}

@keyframes animationZoom {
  from {
    scale: .2;
  }

  to {
    scale: 1;
  }
}

.box-image-zoom-in .image-zoom-in {
  width: 75%;
  max-height: 70%;
  height: 100%;
}

.box-image-zoom-in .image-zoom-in img {
  width: 100%;
  height: 100%;
  animation: animationZoom .65s ease;
}

.parallax img {
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  filter: blur(2px);
  -webkit-filter: blur(2px) brightness(.7);

  /* Full height */
  height: 90%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.product-app {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  transform: translateY(-300px);
  color: white;
}

.product-app img,
.product-app video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.seperator {
  width: 100%;
  height: 35px;
}

.header-content,
.visuals-gameplay,
.information {
  display: flex;
  min-height: 250px;
}

.information .about-game p {
  text-align: justify;
}

.header-content {
}

.header-content > div {
  border-radius: 20px;
}

.header-content .video-game {
  flex: 0 0 calc(50% - 15px);
  margin-right: 15px;
}

.header-content .video-game video {
  max-width: 100%;
  height: auto;
}

.header-content .video-game img {
  width: 100%;
  height: 100%;
}

.header-content .panel {
  flex: 0 0 calc(50% - 15px);
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  backdrop-filter: blur(60px) saturate(100%);
  -webkit-backdrop-filter: blur(60px) saturate(100%);
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 20px;
}

.header-content .panel > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header-content .panel .price {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 35px;
  font-weight: 600;
}

.header-content .panel .price small {
  margin-right: 15px;
  opacity: 0.8;
}

.header-content .panel a {
  color: white;
}

.header-content .panel #addToCartBtn {
  padding: 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  border: none;

  cursor: pointer;
  background: #ff1e1e;
  transition: all 0.2s ease;
  position: relative;
}

.header-content .panel #addToCartBtn i {
  position: absolute;
  margin-left: 10px;
}

.header-content .panel #addToCartBtn:hover {
  background: #e1981a;
}

.middle-content {
  width: 100%;
}

.visuals-gameplay {
  margin-left: -15px;
  margin-right: -15px;
}

.visuals-gameplay img {
  cursor: pointer;
}

.visuals-gameplay .main-img {
  margin: 15px;
  height: 270px;
  flex: 50%;
}

.visuals-gameplay .sub-img {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
  height: 270px;
}

.visuals-gameplay .sub-img-item {
  height: calc(50% - 15px);
  margin: 15px;
  flex: 0 0 calc(50% - 30px);
}

.information {
  font-size: 17px;
}

.information > div {
  flex: 50%;
}

:is(.information,.middle-content,.footer-content) h2 {
  margin-bottom: 10px;
}

.information .about-game {
  margin-right: 15px;
}

.information .configuration {
  margin-left: 15px;
}

.information .configuration ul li {
  display: flex;
  margin-bottom: 5px;
}

.information .configuration ul li span:first-child {
  margin-right: auto;
}

.reviews .text-reviews {
  display: flex;
  align-items: self-end;
}

.text-reviews .avatar {
  padding: 0 10px 15px 0;
  width: 80px;
  height: 80px;
}

.text-reviews .avatar img {
  border-radius: 50%;
}

.text-reviews .message-reviews {
  width: 100%;
  height: 100%;
}

.text-reviews .message-reviews .user-name {
  margin-bottom: 5px;
}

.text-reviews #btn-send {
  padding: 19px 10px;
  border-radius: 0 10px 10px 0;
  outline: none;
  color: white;
  background: rgba(16,16,16);
  border: none;
  cursor: pointer;
  transition: .2s ease;
}

.text-reviews #btn-send:hover {
  background: #ff1e1e;
  /* border: 1px solid #ff1e1e; */
}

.text-reviews #btn-send:active {
  background: rgba(16,16,16);
}

.text-reviews .message-reviews input {
  padding: 15px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  outline: none;
  background: rgba(16,16,16,.4);
  color: white;
  border: 2px solid rgba(16,16,16,.8);
  font-size: 18px;
}

.text-reviews .message-reviews input:focus {
  border: 2px solid #ff1e1e;
}

.other-reviews {
  min-height: 80px;
}

.other-reviews .message-reviews input {
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .box-image-zoom-in .image-zoom-in {
    width: 100%;
    max-height: 5%;
    height: 100%;
  }

  .product-app {
    transform: translateY(-100px)!important;
  }
  .header-content {
    margin: 0 30px!important;
  }
  .header-content .panel {
    padding: 10px!important;
  }

  .header-content .panel .name {
    font-size: 14px;
  }
}

@media screen and (max-width: 780px) {
  .parallax img {
    /* Full height */
    height: auto;
  }

  .box-image-zoom-in .image-zoom-in {
    width: 100%;
    max-height: 50%;
    height: 100%;
  }
  .visuals-gameplay {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .visuals-gameplay .main-img {
    height: 100%;
  }
  .visuals-gameplay .sub-img {
    flex: 0 0 0;
    height: 100%;
  }
  .product-app {
    width: 100%;
    max-width: 1200px;
    transform: translateY(-220px);
  }
  .header-content .panel .price {
    font-size: 25px;
  }
  .header-content .panel #addToCartBtn {
    font-size: 16px;
  }
  .header-content .panel > div {
    width: 100%;
  }   
  .reviews .text-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-reviews .message-reviews input {
    width: 100%;
    border-radius: 10px;
  }
  .text-reviews #btn-send {
    border-radius: 10px;
    width: 100%;
  }
  .footer-content {
    margin: 0 5px;
  }
}

@media screen and (max-width: 1000px) {
  .box-image-zoom-in .image-zoom-in {
    width: 100%;
    height: 100%;
  }

  .product-app {
    padding: 0;
  }
  .header-content {
    flex-direction: column;
    height: auto;
    margin: 0 70px;
  }
  .header-content > div {
    border-radius: 10px;
  }

  .header-content .video-game {
    margin-right: 0;
  }

  .header-content .panel {
    margin: 0;
  }

  .header-content .panel .price {
    margin: 10px auto;
  }

  .visuals-gameplay .main-img {
    margin: 5px;
  }

  .visuals-gameplay .sub-img-item {
    height: 100%;
    max-height: calc(50% - 5px);
    margin: 5px;
    flex: 0 0 calc(50% - 10px);
  }
  .product-app img, .product-app video {
    border-radius: 10px;
  }
  .information {
    margin: 0 5px;
    flex-direction: column;
    min-height: 200px;
  }
  .information .about-game {
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .information .configuration {
    margin-left: 0;
  }
}
