.slider-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(96, 95, 95);
}

.slider-container .sliders {

  padding: 0;
  margin: 0;
  width: 500%;
  display: flex;
  flex-direction: row;
}

.slider-container .sliders .slide {
  flex-basis: 100vw;
  transition: 1s;
}

.slider-container .sliders .slide .slider-img {
  width: 100%;
}

.slider-container .sliders .slide .slider-img img {
  width: 100%;
  height: 100vh;
}

.slider-container .nav-btn {
  position: absolute;
  bottom: 20px;
  right: 41%;

  width: 250px;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

input[type="radio"] {
  transform: scale(1.5);
  accent-color: salmon;
}

@media only screen and (max-width: 412px) {
  .slider-container {
    height: 300px;
  }

  .slider-container .sliders {
    height: 100%;
  }

  .slider-container .sliders .slide .slider-img img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  .slider-container .nav-btn {
    position: absolute;
    bottom: 68%;
    right: 19.5%;
  }
}

@media only screen and (max-width: 1100px) {
  .slider-container .nav-btn {
    bottom: -50px;
    right: 39%;
  }
}

@media only screen and (max-width: 900px) {
  .slider-container .nav-btn {
    bottom: -50px;
    right: 35%;
  }
}

@media only screen and (max-width: 700px) {
  .slider-container .nav-btn {
    bottom: -50px;
    right: 31%;
  }
}

@media only screen and (max-width: 500px) {
  .slider-container .nav-btn {
    bottom: -50px;
    right: 24%;
  }
}

@media only screen and (max-width: 450px) {
  .slider-container .nav-btn {
    bottom: -55px;
    right: 20%;
  }
}