* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}



.main-content {
    padding: 20px 20px 0;
    display: flex;  
    justify-content: center;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #360033, #0b8793);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #360033, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
}
