* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

.main-content {
  padding: 80px 20px 100px;
  display: flex;
  justify-content: center;
  position: relative;
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #360033,
    #07656d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #360033,
    #07656d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15px;
}


@media screen and (max-width: 750px) {
  .main-content {
    padding: 70px 0;
  }
}
