* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.main-content {
    padding: 20px 20px 100px;
    display: flex;  
    justify-content: center;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
}
